
.logo {
    width: 6em;
}

input {
    width: 27%;
}
#numberArticle{
    width: 240px;
    text-align: center;
}



@keyframes appearanceForm {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
#animation{
    opacity: 0%;
    
}
.runAnimation{
    animation-name: appearanceForm;
    animation-iteration-count: 1;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}